/* # # # # # # # #   FOOTER   # # # # # # # # # # # # # # # # #  */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(83, 82, 82);
  height: 70px;
  color: rgb(126, 124, 124);
}
